<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <a style="cursor: pointer" class=" navbar-brand" routerLink="/">Recipe Catalog</a>
  </div>
  <div class="navbar-default">

    <ul class="nav navbar-nav">
      <!--<li><a href="#">Recipe</a> </li>
      <li><a href="#">Shopping List</a> </li>-->

      <li routerLinkActive="active"><a routerLink="/recipes">Recipe</a> </li>
      <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <ng-template [ngIf]="!authService.isAuthenticated()">
        <li><a  routerLink="/signUp">SignUp</a></li>
        <li><a  routerLink="/signIn">Login</a></li>
      </ng-template>
      <li><a style="cursor: pointer" *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</a></li>
      <li class="dropdown" appDropdown *ngIf= "authService.isAuthenticated()">
        <a style="cursor: pointer">Manage<span class="caret"></span></a>
        <ul class="dropdown-menu" >
          <li><a style="cursor: pointer" (click)="saveDate()">Save Data</a></li>
          <li><a style="cursor: pointer" (click) ="fetchData()">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

</nav>
